<launch>
  <!-- 加载URDF -->
  <param name="robot_description" textfile="$(find sdp_robot_description)/urdf/simple_robot.urdf"/>

  <!-- 关节发布 -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <!-- 启动RViz -->
  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
